@using TILE03.Models.ViewModels
@model AntwoordViewModel

<aside id="antwoord" class="shadow">
    <h3>Groepsbewerking:</h3>
    <p>@ViewData["GroepsBewerking"]</p>

    @if (ViewData["Fout"] != null)
    {
        <h3 class="error">@ViewData["Fout"]</h3>
    }
    @if (ViewData["Blocked"] != null)
    {
        <h3 class="error">@ViewData["Blocked"]</h3>
    }


    <form asp-action="ControleerAntwoord" method="post">
        @*<div asp-validation-summary="ModelOnly"></div>*@
        <div class="form-group">
            <label asp-for="Value"></label>
            <input asp-for="Value" class="form-control"/>
            <span asp-validation-for="Value" class="text-danger"></span>
        </div>
        <br/>
        <div>
            <button class="btn btn-primary" type="submit">Controleer</button>
        </div>
    </form><br/>
    <form asp-action="Refresh" method="post">
        @if (ViewData["Blocked"] != null)
        {
            <div>
                <button class="btn btn-danger" type="submit">Refresh</button>
            </div>
        }
    </form>
</aside>