@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<h3>Projecten II - BreakOutBox - TILE03</h3>
<ul>
    <li>Yves Vanduynslager</li>
    <li>David De Jaeger</li>
</ul>